@media ( max-width: 1200px)
  .container
    max-width: 992px
  .collection
    &__images
      &-first,
        margin-right: 20px
    &__discription
      margin-left: 20px
  .subscribe
    &-wrapper
      width: 100%
  .footer
    &-wrapper
      grid-template-columns: 250px repeat(4, minmax(165px, min-content))
      column-gap: 20px
@media ( max-width: 1000px )
  .footer
    padding: 64px 0 84px
    padding-left: 5%
    &-wrapper
      padding: 0 20px 0 9px
      grid-template-columns: 253px repeat(2, minmax(163px, max-content))
      column-gap: 30px
    &-main
      grid-row: span 2
    &-list
      &__link
        &:hover
          color: inherit
    &-social-networks
      &__image
        &:hover
          background-color: transparent
@media ( min-width: 992px )
  a:hover
    color: #3399cc
    box-shadow: inset 0 0 0 0
  button:hover
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,59,86,1) 34%, rgba(37,164,190,1) 98%)
    background-size: 200% auto
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
    transition: .5s
    background-position: center right
    color: #ffffff
    border-radius: 8px
@media (max-width: 993px)
  .container
    max-width: 768px
  .navbar
    &-menu
      width: 85%
  .collection
    &__wrapper
      flex-direction: column
      margin-bottom: 79px
    &__images
      margin: auto
    &__discription
      width: 90%
      margin: auto
      margin-top: 40px
      &-title
        max-width: 600px
      &-text
        max-width: 672px
        margin-bottom: 24px
      &-button
        padding-left: 0
  .content
    &__item
      &-active
        justify-content: space-around
  .stories
    margin-bottom: 60px
    &-wrapper
      display: block
      padding-top: 62px
    &__info
      width: 100%
      text-align: center
      margin-bottom: 36px
      display: flex
      flex-direction: column
      align-items: center
    &__title
      margin-bottom: 16px
      margin-top: 24px
    &__subtitle
      width: 568px
      margin: auto
      margin-bottom: 36px
    &__items
      margin: auto
  .subscribe
    &-wrapper
      flex-direction: column
      text-align: center
      padding-top: 72px
      padding-bottom: 80px
    &__info
      margin-bottom: 56px
@media (max-width: 769px)
  .header
    padding-top: 26px
    padding-bottom: 18px
    margin-bottom: 30px
    background-color: #fff
    &__mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 100
    &__container
      max-width: 660px
    &__wrapper
      flex-wrap: wrap
    &__button
      &--mobile
        &_hidden
          display: none
        &_visible
          display: block
          margin: auto
    &__logo
      padding-left: 10px
  .navbar
    &-menu
      display: none
      position: fixed
      width: 95%
      background-color: #edebed
      top: 10px
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      right: 0
      left: 0
      margin: auto
      padding: 36px 24px
      max-height: 100%
      overflow-y: auto
      border-radius: 8px
      &__link
        display: flex
        justify-content: center
        padding-right: 0
      &__item
        margin-bottom: 35px
        width: 100%
      &--visible
        display: flex
        flex-direction: column
        align-items: flex-start
      &__close
        &--visible
          display: block
          position: absolute
          right: 19px
          top: 16px
          text-decoration: none
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      margin-right: 10px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .card
    max-width: 728px
    height: 624px
    background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url(../img/header-image-768.jpg) right bottom no-repeat
    object-fit: contain
    padding-top: 39px
    padding-left: 41px
    margin: 104px 20px 80px 20px
    &__title
      margin: 30px 0 20px 0
      font-size: 48px
      line-height: 60px
      height: 179px
    &__text
      max-width: 424px
      margin-bottom: 36px
      font-size: 18px
      line-height: 32px
    &__button
      margin-bottom: 41px
    &__frame
      padding-bottom: 36px
      &__text
        line-height: 20px
        font-size: 16px
        max-width: 119px
  .collection
    &__images
      &-first
        width: 99%
    &__discription
      width: 91%
      margin-top: 31px
      &-title
        margin-bottom: 30px
  .trends
    margin-bottom: 53px
    &__wrapper
      flex-direction: column
    &-title
      margin: auto
      margin-bottom: 27px
  .tabs
    margin: auto
  .content
    &__card
      &-text
        padding-left: 0
      &-image
        height: 366px
        margin-bottom: 11px
    &-link
      max-width: 260px
    &__item
      &-active
        justify-content: space-evenly
    &__button
      width: 259px
  .review
    &-icon
      padding-left: 8px
    &-content
      &__text
        height: 210px

  .swiper-container
    max-width: 630px
    height: 93%
  .stories
    margin-bottom: 36px
    &-wrapper
      padding-top: 75px
    &__title
      margin-top: 26px
      margin-bottom: 16px
  hr
    display: none
  .footer
    &-wrapper
      padding: 0
      grid-template-columns: 230px repeat(2, minmax(165px, max-content))
      column-gap: 50px
    &-text
      width: 240px
@media ( max-width: 690px )
  .footer
    padding: 48px 0 70px
    &-wrapper
      padding: 0 19px
      grid-template-columns: 1fr 1fr
      column-gap: 0
      row-gap: 30px
    &-main
      grid-row: 3 / 4
      grid-column: span 2
      max-width: 263px
      margin-top: 35px
    &-logo
      margin-bottom: 11px
    &-text
      margin: 0 0 21px
      font-size: 14px
      line-height: 24px
    &__title
      margin: 0 0 20px
      font-size: 16px
      line-height: 22px
    &-list
      &__item
        margin-bottom: 15px
        font-size: 14px
        line-height: 20px
        &:nth-last-child(1)
          margin-bottom: 0
  .stories
    &__container
      max-width: 90%
    &__items
      width: 73%
    &__subtitle
      width: 100%
    &-slider
      &_left
        width: 280px
        margin: 0
        margin-bottom: 10px
      &_right
        width: 280px
        margin: 0
      &_info
        width: 270px
      &_title
        font-weight: 500
        font-size: 20px
        line-height: 24px
        margin-bottom: 16px
      &_next
        font-weight: 600
        font-size: 16px
        line-height: 22px
      &_img
        width: 270px
      &_item
        display: flex
        flex-direction: column
        align-items: center
  .stories
    &-slider
      &_info
        top: -18px
      &_title
        width: 266px
        padding-left: 22px
    &-wrapper
      padding-top: 40px
    &__info
      margin-bottom: 18px
    &__title
      font-weight: bold
      font-size: 28px
      line-height: 36px
      &_visible
        display: none
    &__subtitle
      font-size: 16px
      line-height: 28px
    &__button
      width: 48px
@media (max-width: 675px)
  .card
    padding-left: 7%
    &-item:last-child
      padding-right: 10px
  .container
    max-width: 545px
  .collection
    &__images
      width: 95%
      &-first
        width: 95%
        margin-right: 0
      &-other
        width: 95%
    &__discription
      width: 90%
  .review
    &-content
      max-width: 480px
      margin: auto
  .content
    &-link
      max-width: 240px
    &__card
      &-image
        width: 100%
        &-pic
          width: 100%
    &__button
      max-width: 225px
  .footer
    padding: 48px 0 70px
@media (max-width: 481px)
  .container
    max-width: 350px
  .card
    min-height: 945px
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url(../img/header-image-400.jpg) center top no-repeat
    padding-left: 2%
    padding-top: 0
    border-radius: 0
    margin-left: 0
    margin-right: 0
    &__block
      text-align: center
      padding-top: 381px
    &__title
      max-width: 244px
      font-size: 32px
      line-height: 40px
      height: 120px
      margin: auto
      margin-top: 22px
      margin-bottom: 20px
    &__text
      margin-bottom: 24px
    &-link
    &__button
      margin-bottom: 37px
      font-size: 16px
      line-height: 22px
    &__frame
      display: flex
      flex-wrap: wrap
      justify-content: center
      width: 100%
      padding-bottom: 20px
    &-item
      margin-right: 16px
      margin-bottom: 20px
  .collection
    &__wrapper
      margin-bottom: 110px
    &__discription
      max-width: 280px
      &-title
        text-align: center
        font-size: 28px
        line-height: 36px
      &-text
        font-size: 16px
        line-height: 28px
        margin-bottom: 0
        text-align: center
      &-button
        display: none
    &__images
      align-items: center
      flex-direction: column
      &-first
        width: 290px
        height: 300px
        margin-bottom: 14px
      &-other
        width: 290px
        flex-direction: row
        &-second
          width: 138px
          height: 97px
  .trends
    margin-bottom: 8px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
  .tabs
    font-size: 16px
    line-height: 22px
  .content
    &__card
      &-info
        justify-content: flex-start
        text-align: center
      &-text
        font-size: 16px
        line-height: 20px
      &-price
        margin-right: 9px
        font-size: 14px
        line-height: 24px
      &-image
        width: 140px
        height: 156px
        &-pic
          height: 170px
        &-buy
          width: 14px
          height: 25px
    &-link
      height: 224px
      padding-left: 0
    &__button
      width: 140px
      height: 170px
      &-plus
        margin-bottom: 15px
      &-text
        font-size: 17px
        line-height: 20px
  .review
    &-icon
      margin-bottom: 13px
    &-content
      &__text
        font-size: 18px
        line-height: 36px
  .swiper
    &-container
      max-width: 280px
  .swiper-container stories-swiper swiper-container-initialized swiper-container-horizontal
    height: 870px
  .stories
    &-wrapper
      padding-top: 35px
    &-slider
      &_left
        width: 272px
        margin-right: 0
      &_right
        width: 272px
        margin-right: 0
  .subscribe
    &-wrapper
      padding-top: 64px
      padding-bottom: 120px
  .search
    width: 100%
    height: 50px
    &__button
      position: relative
      width: 100%
      margin: 0
      margin-top: 10px
  .footer
    &-wrapper
      grid-template-columns: 100%
    &-main
      grid-column: 1 / 2
      grid-row: 5 / 6
  .modal
    &__dialog
      width: 300px
      padding: 30px 20px
@media (max-width: 335px)
  .container
    max-width: 310px
    padding: 0 10px 0 10px
  .header
    &__mobile
      &_fixed
        max-width: 320px
  .card
    min-width: 320px
    min-height: 892px
    margin-bottom: 64px
    margin-top: 96px
    &__title
      margin-bottom: 21px
    &__text
      font-size: 16px
      line-height: 28px
      max-width: 280px
      margin-left: 12px
      text-align: center
    &__button
      padding: 13px 46px
      margin-bottom: 21px
    &-item
      margin-bottom: 16px
      &__logo
        width: 24px
        height: 24px
  .collection
    &__discription
      width: 93%
      &-title
        margin-bottom: 24px
  .trends
    margin-bottom: 40px
    &__wrapper
      margin-bottom: 35px
  .tabs
    justify-content: space-evenly
  .content
    &-link
      min-width: 140px
      padding-left: 0
      margin-bottom: 30px
    &__card
      &-text
        padding-top: 18px
        padding-left: 0
      &-info
        padding-left: 0
    &__item
      &-active
        justify-content: space-between
  .review
    margin-bottom: 64px
    &-content
      &__text
        height: 361px
      &-client
        width: 200px
    &-icon
      margin-bottom: 20px
      &-pic
        width: 70px
  .stories
    margin-bottom: 41px
    &__title
      margin-top: 19px
    &__subtitle
      width: 98%
    &-slider
      &_info
        top: -39px
        padding-bottom: 0
      &-button
        width: 48px
        height: 48px
  .subscribe
    &-wrapper
      padding-top: 63px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 25px
    &__subtitle
      font-size: 16px
      line-height: 28px
    &__info
      width: 277px
      margin-bottom: 37px
    &__container
      width: 305px
  .footer
    &-text
      width: 100%
      text-align: center
    &-logo
      padding-left: 37%
    &-social
      &-networks
        display: flex
        justify-content: center
