@media ( max-width: 1200px)
  .container
    max-width: 992px
  .collection
    &__images
      &-first,
        margin-right: 20px
    &__discription
      margin-left: 20px
@media (max-width: 993px)
  .container
    max-width: 768px
  .collection
    &__wrapper
      flex-direction: column
      margin-bottom: 79px
    &__images
      margin: auto
    &__discription
      width: 100%
      margin: auto
      margin-top: 40px
      &-title
        max-width: 600px
      &-text
        max-width: 672px
        margin-bottom: 24px
      &-button
        padding-left: 0
@media (max-width: 769px)
  .container
    max-width: 672px
  .navbar
    &-menu
      display: none
    &-top
      &_button
        display: none
  .trends
    margin-bottom: 35px
    &__wrapper
      flex-direction: column
    &-title
      margin: auto
      margin-bottom: 27px
  .tabs
    margin: auto
  .content
    &__item
      &-active
        justify-content: space-evenly
.swiper-container
  max-width: 630px
  height: 410px
hr
  display: none
@media (max-width: 675px)
  .card
    padding-left: 25px
  .container
    max-width: 545px
  .collection
    &__images
      width: 95%
      &-first
        width: 95%
        margin-right: 0
      &-other
        width: 95%
    &__discription
      width: 90%
@media (max-width: 480px)
  .container
    width: 350px
  .card
    &__block
      text-align: center
      padding-top: 300px
    &__title
      max-width: 244px
      font-size: 32px
      line-height: 40px
      height: 120px
      margin: auto
      margin-top: 22px
      margin-bottom: 20px
    &__text
      margin-bottom: 24px
    &__button
      margin-bottom: 37px
    &__frame
      display: flex
      flex-wrap: wrap
      justify-content: center
      padding-bottom: 20px
    &-item
      margin-right: 16px
      margin-bottom: 20px
