*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1190px
  margin: auto
  padding-left: 15px
  padding-right: 15px
img
  max-width: 100%
a
  text-decoration: none
  color: #1565D8
.swiper-pagination-bullet-active
  background: #183B56
input, button
  outline: 0
