*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
a
  text-decoration: none
  color: #1565D8
.swiper-pagination-bullet-active
  background: #183B56
button:focus
  outline: none !important
