.navbar
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 26px
    margin-bottom: 62px
    &_button
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      color: #1565D8
      padding: 10px 12px
      background-color: #fff
      border-color: #1565D8
      border-radius: 8px
      cursor: pointer
  &-menu
    display: flex
    margin: 0
    padding: 0
    min-width: 520px
    list-style: none
    align-items: center
    justify-content: space-between
    margin-left: auto
    margin-right: 50px
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    &__link
      text-decoration: none
      color: $primary
