.trends
  &-wrapper
    display: flex
    justify-content: space-between
  &-title
    font-family: HK Grotesk
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    margin-bottom: 48px
    color: #183B56
    margin: 0
.tabs
  list-style-type: none
  padding: 0
  display: flex
  align-items: center
  justify-content: space-between
  width: 285px
  &__item
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    color: #5A7184
    cursor: pointer
    transition: .5s
